* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.conteiner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Islom */

/* NAVIGATIOM START */

.conteiner .nav {
  width: 1440px;
  height: 75px;
  flex-shrink: 0;
  border-top: 4px solid #0C8CE9;
  border-left: 4px solid #0C8CE9;
  border-right: 4px solid #0C8CE9;
  display: flex;
}

/* shop start */
.conteiner .nav .shop {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.conteiner .nav .shop ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-weight: 200;
  position: absolute;
  left: 45px;
}

.conteiner .nav .shop ul li a {
  color: black;
}

.conteiner .nav .shop ul li a:hover {
  color: rgb(163, 153, 153);
}

/* shop end */
/* grovemade start */
.conteiner .nav .grovemade {
  width: 640px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner .nav .grovemade .svg {
  width: 200px;
  height: 17px;
  flex-shrink: 0;
}

.conteiner .nav .grovemade .svg img {
  width: 100%;
  height: 100%;
}

/* grovemade end */
/* cart start */
.conteiner .nav .cart {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.conteiner .nav .cart ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-weight: 200;
  position: absolute;
  right: 100px;
}

.conteiner .nav .cart ul li a {
  color: black;
}

.conteiner .nav .cart ul li a:hover {
  color: rgb(163, 153, 153);
}

/* cart end */

/* NAVIGATION END */
/*  */
/* HEADER START */
header {
  width: 1440px;
  height: 504px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  background-image: url(https://s3-alpha-sig.figma.com/img/6978/e8be/d6892bf250f71554ecc7ec7b6a67093e?Expires=1701043200&Signature=cyW03hlsaAWK-~Q2r3sOOKW2gY8i1uJ96wW7wFG2pIy~kfNE7pvsEZ8~ge9RDoGInk0ZGhapVlL1KtRknGsfGoGS9YUaSrxBvAXqufWIIdnHR~XGmxhJDV9WIAIuQkD73sex-thLizMR41AQZgk-rB4j-K80L~Z0wPVUMFna4fwFZdVmcRFGxUq1y53u4c3Mu91f4EvvOnEBcQrKTqmHPeyBuKhp~P7IunfcJBkVyKFUNU-RnoB37lWKciRafkD7Q4Prepgsgnm09TMHM34mUjSF7M~2vVKvZYvSX5oLQxc8Omjr4wg-eoR8WKEz~li9-wrqkbONgNkjZ5Pt6dIFmA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid #0C8CE9;
  border-left: 4px solid #0C8CE9;
  border-right: 4px solid #0C8CE9;
}

header .text1 p {
  width: 440px;
  color: #FFF;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  /* 106.977% */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .text2 p {
  width: 211px;
  color: #FFF;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* letter-spacing: 0.8px; */
}

header .text3 p {
  width: 95px;
  color: #FFF;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* letter-spacing: 1.4px; */
  text-transform: uppercase;
  margin-top: 50px;
}

/* HEADER END */
/*  */
/* Design START */
.design {
  width: 1440px;
  height: 900px;
  border: 1px solid #000;
}

.designContainer {
  width: 1440px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #000; */
}

.designContainer .inspires {
  width: 297px;
  height: 58px;
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  /* 134.884% */
  /* border: 1px solid #000; */
}

.designContainer .build {
  width: 481px;
  height: 24px;
  color: #A0A0A0;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.8px;
  /* border: 1px solid #000; */
  margin-top: 30px;
}

.designContainer .get {
  width: 100px;
  height: 21px;
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 161.538% */
  /* letter-spacing: 1.4px; */
  text-transform: uppercase;
  /* border: 1px solid #000; */
  margin-top: 20px;
}

.designContainer .inspires ul li a {
  color: #000;
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  /* 134.884% */
}

.designContainer .build ul li a {
  color: #000;
  color: #A0A0A0;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.8px;
}

.designContainer .get ul li a {
  color: #000;
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 161.538% */
  /* letter-spacing: 1.4px; */
  text-transform: uppercase;
}

.designContainer .inspires ul li a:hover {
  color: rgb(163, 153, 153);
}

.designContainer .build ul li a:hover {
  color: rgb(163, 153, 153);
}

.designContainer .get ul li a:hover {
  color: rgb(163, 153, 153);
}

.design .designIMG {
  width: 1440px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  /* border: 1px solid #000; */
}

.design .designIMG .left {
  display: flex;
  width: 682.5px;
  height: 570.531px;
  padding: 0px 12.5px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 51px;
  flex-shrink: 0;
  border: 1xp solid #000;
}

.design .designIMG .left img {
  width: 658px;
  height: 441px;
  flex-shrink: 0;
}

.design .designContainer .right {
  display: flex;
  width: 682.5px;
  height: 570.531px;
  padding: 0px 12.5px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 51px;
  flex-shrink: 0;
}

.design .designIMG .right img {
  width: 658px;
  height: 441px;
  flex-shrink: 0;
}

.design .designText1 {
  display: flex;
  width: 657.5px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  /* border: 1px solid #000; */
}

.design .designText1 .desk {
  width: 128px;
  height: 30px;
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 111.111% */
  /* border: 1px solid #000; */
}

.design .designText1 .LearnMore {
  width: 95px;
  height: 15px;
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* letter-spacing: 1.4px; */
  text-transform: uppercase;
}

.design .designText1 .desk ul li a {
  color: #000;
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 111.111% */
}

.design .designText1 .LearnMore ul li a {
  color: #000;
  color: #000;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.4px;
text-transform: uppercase;
}
.design .designText1 .desk ul li a:hover {
  color: rgb(163, 153, 153);
}
.design .designText1 .LearnMore ul li a:hover {
  color: rgb(163, 153, 153);
}


.design .designText2 {
  display: flex;
  width: 657.5px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  /* border: 1px solid #000; */
  margin-top: 49px;
}
.design .designText2 .laptop {
  width: 177px;
  height: 30px;
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 111.111% */
}
.design .designText2 .LearnMore2 {
  width: 95px;
  height: 15px;
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* letter-spacing: 1.4px; */
  text-transform: uppercase;
}
.design .designText2 .laptop ul li a {
  color: #000;
  color: #000;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 111.111% */
}
.design .designText2 .LearnMore2 ul li a {
  color: #000;
  color: #000;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* letter-spacing: 1.4px; */
text-transform: uppercase;
}
.design .designText2 .laptop ul li a:hover {
  color: rgb(163, 153, 153);
}
.design .designText2 .LearnMore2 ul li a:hover {
  color: rgb(163, 153, 153);
}

/* DESIGN END */
/*  */
/* ISLOM'S WORK END */


/* Sarvar */



/* Zikrillo */



/* Miranshoh */